<header id="header" class="header dark-background d-flex flex-column" th:fragment="headerbase">
  <i class="header-toggle d-xl-none bi bi-list"></i>

  <div class="profile-img">
    <img src="assets/img/profile-photo.jpeg" alt="" class="img-fluid rounded-circle">
  </div>

  <a href="index.html" class="logo d-flex align-items-center justify-content-center">
    <!-- Uncomment the line below if you also wish to use an image logo -->
    <!-- <img src="assets/img/logo.png" alt=""> -->
    <h1 class="sitename">Juan Alonso Pérez</h1>
  </a>

  <div class="social-links text-center">
    <a href="https://github.com/juanalonso21" class="github" target="_blank"><i class="bi bi-github"></i></a>
    <a href="mailto:juanalonsopulpi@gmail.com" class="mail"><i class="bi bi-envelope-fill"></i></a>
    <a href="https://es.linkedin.com/in/juan-alonso-perez-perez-a83030327" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
  </div>

  <nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
      <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
      <li><a href="#experience"><i class="bi bi-file-earmark-text navicon"></i> Experience</a></li>
      <li><a href="#tecnologias"><i class="bi bi-hdd-stack navicon"></i> Technologies</a></li>
      <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Portfolio</a></li>
      
      
  </nav>

</header>
          