<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navegación en Spring Boot</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200">
    
<header th:insert="frontend/layout/components/header :: HeaderBase"></header>

    <main>
        <section id="experiencia" class="h-screen flex justify-center items-center text-3xl">Experiencia</section>
        <section id="proyectos" class="h-screen flex justify-center items-center text-3xl">Proyectos</section>
        <section id="sobre-mi" class="h-screen flex justify-center items-center text-3xl">Sobre Mí</section>
        <section id="contacto" class="h-screen flex justify-center items-center text-3xl">Contacto</section>
    </main>

</body>
</html>
