<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{frontend/layout/base}">
  <body>
    <header th:replace="frontend/layout/components/header :: headerbase"></header>
    <div th:replace="frontend/layout/components/hero :: herobase"></div>
    <div th:replace="frontend/layout/components/inicio :: inicio"></div>
    <div th:replace="frontend/layout/components/about :: aboutbase"></div>
    <div th:replace="frontend/layout/components/experience :: experiencebase"></div>
    <div th:replace="frontend/layout/components/tecnologias :: tecnologiasbase"></div>
    <footer th:replace="frontend/layout/components/footer :: footerbase"></footer>
  </body>
</html>
